html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust this value to fit your navbar height */
}

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-top: 80px; 
}

/** Typed Text */
.typed-text {
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  color: #3498db;
  background: linear-gradient(90deg, #3498db, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  display: inline-block;
  line-height: 1;
  padding-right: 4px;
  animation: blink-caret 0.75s step-end infinite;
  vertical-align: top;
  transition: background 0.5s ease-in-out;
}

.intro-greeting {
  color: #3498db;
  font-weight: 600;
  font-size: 2rem;
  font-family: monospace;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a.nav-link {
  color: #fff;
}

.navbar a.nav-link:hover {
  color: #bbbbbb;
  font-weight: bold;
  font-size: 1.2rem;
}

.section {
  background-color: #f8f9fa;
  border-radius: 8px;
  height: auto;
  padding: 40px;
  margin-bottom: 20%;
}

.section-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2c0b0e;
}

.section-title-header {
  color: #0f90f3;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 50px;
}

.section-title-header-contact {
  color: #000000;
  font-size: 2.5rem;
  text-align: center;
}

.social-icon {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  color: #333;
  font-size: 3rem;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 10px;
}

.spacer-section, .small-spacer-section, .smaller-spacer-section {
  margin-bottom: 5%;
  margin-top: 5%;
}

.certificate-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  margin-top: 25px;
}

.scroll-to-about {
  display: inline-block;
  text-decoration: none;
  color: #3498db;
}

.scroll-to-about:hover {
  color: #007bff;
}

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.section {
  background-color: #f8f9fa;
  border-radius: 8px;
  height: auto;
}

/* Adjust iframe layout */
.iframe-container {
  position: relative;
  width: 100%;
  height: 450px; /* or use a dynamic height if needed */
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Scroll to section styling */
.scroll-to-about i {
  transition: transform 0.3s;
}

.scroll-to-about:hover i {
  transform: scale(1.2);
}

/* Responsive Design - Adapt layout for smaller screens */
@media (max-width: 768px) {
  .iframe-container {
    height: 300px; /* Adjust iframe height for smaller screens */
  }

  .section-title-header {
    font-size: 1.5em; /* Adjust title size on smaller screens */
  }
}