* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.timeline{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 40%;
}

.left-container{
    left:10%;
}

.right-container{
    left:50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top:32px;
    z-index: 10;
}

.right-container img{
    left:-20px;
}

.text-box{
    padding: 20px 30px;
    color: #fcfcfc;
    background-color:#212529;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}


.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #212529;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #212529;
    left: -15px;
}

.timeline::after{
    content:'';
    position: absolute;
    width:6px;
    height:100%;
    background: #212529;
    top:0;
    left:50%;
    margin-left: -3px;
    z-index: -1;
}